.DS_Store
node_modules
_webpack.config.js
/dist
/tests/e2e/reports/
selenium-debug.log
/doc
/bak


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

